.username-error, .password-error, .suError {
  display: none;
}
body {
  margin: 0;
  background: black;
  color: white;

}
header {
 background-color:rgb(212, 3, 9);
 height: 90px;
}

h1 {
  margin:0;
  padding: 0.5%;
  text-align: center;
  font-size: 3.5rem;
  font-family:'Alegreya', serif;
  color: rgb(244, 215, 26);
  letter-spacing: 1.5px;
}

h2 {
  font-family: sans-serif;
}
.container {
  min-height: calc(100vh - 190px);
  width: 50%;
  margin: auto;
  display: flex;
  justify-content: space-around;
  align-items: center;

}
input {
  display: block;
  width: 250px;
  /* padding: 3%; */
  /* margin: 2%; */
}

li{
  list-style: none;
}

.signUp__form {
 margin-top: 2%;
 margin-bottom: 3%;
}

.logIn__form{
  margin-top: 2%;
  margin-bottom: 3%;
}


footer {
  height: 50px;
}
