
<head>

  <title id="#top">PulpFACtion</title>
</head>

{{> htmlHead}}


<body>

    {{> header}}
<div class ="container">
    <!-- Form stuff -->
    <section class="signUp__form">
      <h2>Sign Up</h2>
    <form id="signUp" class="signUp" action="/library" method="post">
    <label class="signUp__labels" for="name"> Name:
      <input id="suName" type="text" name="name" required>
      </label>
      <label class="signUp__labels" for="gitterhandle"> GitterHandle:
         <input id="suGitterHandle" type="text" name="gitterhandle" required>
      </label>
      <label class="signUp__labels" for="password">
        Password:  <input id="suPw" type="password" name="password">
      </label>
      <label class="signUp__labels" for="password">
       Confirm Password:  <input  id="cPw" type="password" name="confirmPassword">
      </label>
      <div id="suError" class="suError"></div>
      <input id="submit-btn" value="sign up" class="signUp__submit-btn" type="submit">
    </form>
    </section>

    <section class="logIn__form">
      <h2>Log In</h2>
     <form id="logIn" class="logIn" action="/library" method="post">
     <label class="logIn__gitterhandle"> GitterHandle:
      <input id="lgGitter" type="text" name="gitterhandle" required>
      <div id="username-error" class="username-error">
      </div>
      </label>
      <label class="logIn__password"> Password:
        <input id="lgPassword" type="password" name="password">
        <div id="password-error" class="password-error">
        </div>
      </label>
     <input id="submit-btn" value="log in" class="logIn__submit-btn" type="submit">
    </form>
    </section>
</div>
    {{> footer}}

    {{> script}}
</body>
