{{> htmlHead }}
<body>
    {{> navbar }}

{{#each books}}
  <ul>
    <li>{{ title }}</li>
  </ul>
{{/each}}

    <!-- My bookshelf -->
    <section class="addBook__form">
        <form class="addBook" action="/library" method="post">
        <label class="addbook_label" for="Title"> Title:
            <input id="Title" type="text" name="Title" value="">
        </label>
        <label class="addbook_label" for="Author">
          author:  <input id="Author" type="text" name="Author" value="">
        </label>
        <label class="addbook_label" for="ISBN">
          ISBN: <input id="ISBN" type="text" name="ISBN" value="">
        </label>
          <select class="" name="">
         <optgroup label="fiction">
          <option value="" name="Genre">Classics</option>
          <option value="" name="Genre">Romance</option>
          <option value="" name="Genre">Thrillers</option>
          <option value="" name="Genre">True Crime</option>
          <option value="" name="Genre">Science Fiction</option>
          <option value="" name="Genre">Fantasy</option>
          <option value="" name="Genre">Horror</option>
          <option value="" name="Genre">Graphic Novels & Manga</option>
          </optgroup>
        <optgroup label=""Non-fiction">
          <option value="" name="Genre">Biography & True Stories</option>
          <option value="" name="Genre">Food & Drink</option>
          <option value="" name="Genre">Health & Lifestyle</option>
          <option value="" name="Genre">History</option>
          <option value="" name="Genre">Humour</option>
          <option value="" name="Genre">Philosophy & Politics</option>
          <option value="" name="Genre">Hobbies</option>
          <option value="" name="Genre">Science</option>
          <option value="" name="Genre">Technology</option>
          <option value="" name="Genre">Video Games</option>
          </optgroup>
          </select>
         </form>
    </section>

    {{> footer}}

    {{> script}}
</body>
