<title>PulpFACtion - Library</title>

<body>
    {{> navbar }}
    {{> header}}

{{#each books}}
  <ul>
    <li>{{ title }}</li>
  </ul>
{{/each}}

    <!-- My bookshelf -->
        <form class="addBook" action="/library" method="post">
          <input type="text" name="Title" value="">
          <input type="text" name="Author" value="">
          <input type="text" name="ISBN" value="">
          <select class="" name="">
            <option value="" name="Genre"></option>
          </select>
        </form>

    {{> footer}}

    {{> script}}
</body>
