{{> htmlHead }}
<body>
    {{> navbar }}

{{#each books}}
  <ul>
   <a href="/library/{{id}}"><li>{{ title }}</a> - {{ author }}</li>
  </ul>
{{/each}}

    <!-- My bookshelf -->
    <section class="addBook__form">
        <form id="addbook-form" class="addBook" action="" method="">
        <label class="addbook_label" for="Title"> Title:
            <input id="Title" type="text" name="Title" required>
        </label>
        <label class="addbook_label" for="Author">
          author:  <input id="Author" type="text" name="Author" required>
        </label>
        <label class="addbook_label" for="ISBN">
          ISBN: <input id="ISBN" type="text" name="ISBN" required>
        </label>
          <select class="" name="" id="genre">
         <optgroup label="fiction">
          <option value="Classics" name="Genre">Classics</option>
          <option value="Romance" name="Genre">Romance</option>
          <option value="Thrillers" name="Genre">Thrillers</option>
          <option value="True Crime" name="Genre">True Crime</option>
          <option value="Science Fiction" name="Genre">Science Fiction</option>
          <option value="Fantasy" name="Genre">Fantasy</option>
          <option value="Horror" name="Genre">Horror</option>
          <option value="Graphic Novels & Manga" name="Genre">Graphic Novels & Manga</option>
          </optgroup>
        <optgroup label="Non-fiction">
          <option value="Biography & True Stories" name="Genre">Biography & True Stories</option>
          <option value="Food & Drink" name="Genre">Food & Drink</option>
          <option value="Health & Lifestyle" name="Genre">Health & Lifestyle</option>
          <option value="History" name="Genre">History</option>
          <option value="Humour" name="Genre">Humour</option>
          <option value="Philosophy & Politics" name="Genre">Philosophy & Politics</option>
          <option value="Hobbies" name="Genre">Hobbies</option>
          <option value="Science" name="Genre">Science</option>
          <option value="Technology" name="Genre">Technology</option>
          <option value="Video Games" name="Genre">Video Games</option>
          </optgroup>
          </select>
          <button type="submit" name="submit" class="submitbtn" id="addbook-btn">add book</button>
         </form>
    </section>

    {{> footer}}

    <script type="text/javascript" src="/addbook.js">

    </script>

</body>
