<head>

  <title>PulpFACtion - Library</title>
</head>

<body>
    {{> header}}

    <!-- List of books -->

    <!-- My bookshelf -->
        <!-- Add a book -->

    {{> footer}}

    {{> script}}
</body>
