<title>PulpFACtion - Library</title>

<body>
    {{> navbar }}
    {{> header}}

{{#each books}}
  <ul>
    <li>{{ title }}</li>
  </ul>
{{/each}}

    <!-- My bookshelf -->
    <section class="addBook__form">
        <form class="addBook" action="/library" method="post">
          <input type="text" name="Title" value="">
          <input type="text" name="Author" value="">
          <input type="text" name="ISBN" value="">
          <select class="" name="">
          <option value="" name="Genre">{{genre}}</option>
          </select>
         </form>
    </section>

    {{> footer}}

    {{> script}}
</body>
